@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a,ul,li {
    text-decoration: none;
    font-style: none;
    list-style: none;
    
}
a { 
    color: #000;
}

/* wrap */
#wrap {}

/* main */
#main{
    width: 100%;
    height: 850px;
    display: flex;
}
.aside {
    width: 200px;
    height: 100%;
    /* background-color: #151515; */
    
}
.logo {
    height: 150px;
    /* background-color: #c02525; */
}
.logo img {
    width: 100%;
    padding: 30px 10px;
}
.menu {
    text-align: center;
    margin-top: 48px;
    width: 100%;
    
}
.menu > ul {
}
.menu > ul > li {
    position: relative;
    padding: 10px ;
    background-color: #5e5e5e;
}
.menu > ul > li:hover {
    background-color: #242424;

}
.menu > ul > li > a {
    color: white;

}
.menu > ul > li > ul {
    position: absolute;
    left: 200px;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    width: 1700px;
    margin: 0px 0px;
    z-index: 10000;
    
}
.menu > ul > li > ul > li {
    padding: 10px 30px;
    transition: all 0.3s;
}
.menu > ul > li > ul > li:hover {
    background-color: rgba(0,0,0,0.7);
}
.submenu {
    /* display: flex; */
    display: none;
}
.submenu a {
    color: white;
}


.banner {
    width: calc(100% - 200px);
    height: 100%;
}
.slider__wrap {
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.slider__inner {
    position: relative;

}
.link{
    position: absolute;
    width: 200px;
    height: 100px;
    right: 100px;
    top: 100px;
    z-index: 10005;
}
.linksum {
    width: 100px;
    height: 100px;
}
.linksum > img {
    width: 100%;
    /* height: 100%; */
}
.slider__inner {
    width: 100%;
    height: 100%;
    /* transform: translateY(-800px); */
    transition: all 0.3s;
}
.slider {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.slider.s1 {background-image: url(../images/boardimg_01.png);}
.slider.s2 {background-image: url(../images/boardimg_02.png);}
.slider.s3 {background-image: url(../images/boardimg_03.png);}
.slider.s4 {background-image: url(../images/boardimg_04.png);}
.banner_img {
    width: 100%;
    height: 200px;
    /* margin: 10px 0 80px; */
    overflow: hidden;
    
}
.banner_imgs {
    width: 120%;
    height: 100%;
    background-image: url(../images/01.30708596.1.jpg);
    background-size: contain;
    background-position: 0% 20%;
    transition: background-position 5s ease-out;
    background-repeat: repeat-x;
    transform: rotate(2deg) translateX(-1%);
}
.notice {
    width: 100%;
    height: 250px;
    display: flex;
    /* background-color: #151515; */
}
.noti {
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #fff;
    /* display: none; */
}
.noti1 {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
}
.noti1 > a.active {
    background-color: #fff;
}
.noti1 > a {
    padding: 10px;
    border: 1px solid #000;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    background-color: #a3a3a3;
    z-index: 100;
}
.gal1 {
    width: 600px;
    /* margin-top: 30px; */
    border: 1px solid #000;
    display: block;
}
.gal1 > li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -1px;
    padding: 10px 30px;
    border-bottom: 1px solid #000;
    /* background-color: #fff; */
}
.noti li a {

}
.gal2 {
    display: none;
    justify-content: space-between;
    padding: 10px;
    width: 600px;
    height: 190px;
    border: 1px solid #000;

}
.gal2 li a img {
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 3px;
}

/* footer */
#footer {
    width: 100%;
    height: 120px;
    display: flex;
    background-color: #151515;
    color: #fff;
}
.foologo {
    width: 200px;
    height: 120px;
    display: flex;
    align-items: center;
    border-right: 1px solid #6d6d6d;
}
.foologo h2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.address {
    width: calc(100% - 200px);
    height: 100%;
}
.address1-1 {
    height: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
}
.address1-1 a {
    padding: 0 10px;
    position: relative;
    color: #fff;
}
.address1-1 a::after {
    content: '|';
    position: absolute;
    right: -3px;
}
.address1-2 {
    height: 50%;
    align-items: center;
    display: flex;
    padding: 20px;
}